$body-bg: #f3f3f0;
$primary: #007BFF;
$secondary: #6c757d;
$danger: rgba(250, 11, 35, 0.486);
$success: #28A745;
$warning: #2078858e;
$info: #17A2B8;
$light: #d7dde0;
$dark:#0e10109d;
$white: #FFFFFF;
$blue: blue;
$indigo: indigo;
$purple: purple;
$pink:#a6a2f1a2;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray:gray;
$gray-dark: darkslategray;
$colors: ( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray, "gray-dark": $gray-dark) !default;
// .btn-primary {
//   color: $light;
//   background-color: $primary;
//   border-color: darken($color: $primary, $amount: 10);
//   border-width: medium;
// }